@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: rgb(142, 68, 173);
  --background-color: rgb(20, 20, 20);
  --card-color: rgb(50, 50, 50);
  --text-color: rgb(255, 255, 255);
  --paper-text-color: rgb(200, 200, 200);
  --font-size: 16px;
  --transition-time: 300ms;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--card-color);
  cursor: grab;
  transition: 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 59, 59);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);

  scrollbar-color: var(--background-color);
  scrollbar-width: 5px;
}

a {
  text-decoration: none;
}

/* ENTER ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}