@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(20, 20, 20);
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

/* ENTER ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}